@page "/"

@inject HttpClient Http


<PageTitle>Catstagram</PageTitle>


@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                @foreach (var entry in data)
                {
                    <div class="border border-white">
                        <img src="@entry.url" width="500" height="600" class="rounded" align="middle" />
                        <button class="btn btn-danger" @onclick=entry.likeCat>Like!</button>
                        <button class="btn btn-primary" @onclick="@(() => favouriteCat(entry))">Favourite</button>
                        <p role="status" class="text-left">Likes: @entry.favCount</p>
                  <p class="text-left">Weight: @entry.width</p>
                        <p class="text-left">Height: @entry.height</p>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <h2>Favourites</h2>
                @foreach (var entry in favourites)
                {
                    <div class="border border-light">
                        <img src="@entry.url" width="250" height="300" class="rounded" />
                    </div>
                   }
            </div>
        </div>
    </div>
}


@code {
    private Cats[] data;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            data = await Http.GetFromJsonAsync<Cats[]>("https://api.thecatapi.com/v1/images/search?limit=20&api_key=live_ZkrwaSSO3rrHcXFVGYQJ9IhvRMi6xGuDcUXRM24aKUZwy8OWWOm0ler41bycfPFF");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }

    }

    public List<Cats> favourites = new();

    public void favouriteCat(Cats c)
    {
        if (!favourites.Contains(c))
        {
            favourites.Add(c);
        }
    }

    public class Cats
    {

        public List<object> breeds { get; set; }
        public string id { get; set; }
        public string url { get; set; }
        public int width { get; set; }
        public int height { get; set; }
        public int favCount { get; set; }

        public void likeCat()
        {
            favCount++;
        }
    }
    }
